.DS_Stores
src/env-config.js
# dependencies
/node_modules
/generated
/.pnp
.pnp.js

# testing
/coverage
/test_reports

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
.yarn/*
.yarn/install-state.gz
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*

.cache

# Parcel
.parcel-cache

test_reports/
*storybook.log
storybook-static/
storybook-static-develop/
