name: e2e

on: [pull_request]

env:
  NODE_VERSION: '22.11.0'

jobs:
  testing-e2e:
    runs-on: ubuntu-latest
  
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Checkout fe code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: fe

      - name: populate environment vars using a specific .env.ENVIRONMENT FILE
        run: |
          rm .env
          mv .env.${{ github.base_ref == 'uat' && 'uat' || 'dev' }} .env
          echo VERSION=${{ github.sha }} >> .env
          cat .env
        working-directory: fe
  
      - name: Install FE dependecies
        run: yarn install --immutable
        working-directory: fe
  
      - name: run fe
        run: yarn start &
        working-directory: fe

      - name: Checkout E2E repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          repository: pagopa/arc-fe-e2e
          path: e2e

      - name: Install E2E dependecies
        run: yarn install --immutable
        working-directory: e2e
      
      - name: Install playwright browsers
        run: yarn playwright install chromium
        working-directory: e2e

      - name: populate environment vars writing down an .env file
        run: |
          touch .env
          echo BASE_URL=http://localhost:1234 >> .env
          echo USERNAME=${{ secrets.E2E_USERNAME }} >> .env
          echo PASSWORD=${{ secrets.E2E_PASSWORD }} >> .env
          echo IDENTITY_PROVIDER_BUTTON_TEST_ID=idp-button-https://validator.dev.oneid.pagopa.it/demo >> .env
          cat .env
        working-directory: e2e

      - name: run e2e tests
        run: yarn test --project chromium
        working-directory: e2e
